<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexus.NexusEndOfMonthProcessingBatch.domain.secondary.mapper.TksMasterCompanyMapper">

    <resultMap id="TksMasterCompanyResultMap" type="com.nexus.NexusEndOfMonthProcessingBatch.domain.secondary.entity.TksMasterCompanyEntity">
        <result column="ID" property="ID"/>
        <result column="CompanyName" property="companyName"/>
        <result column="CompanyShortName" property="companyShortName"/>
    </resultMap>

    <select id="findById" parameterType="hashmap" resultMap="TksMasterCompanyResultMap">
        SELECT *
        FROM Master_Company
        <where>
            0 = DeleteFlag
            AND ID = ${id}
        </where>
    </select>

    <select id="findByIds" parameterType="hashmap" resultMap="TksMasterCompanyResultMap">
        SELECT *
        FROM Master_Company
        <where>
            0 = DeleteFlag
            AND ID IN
            <foreach collection="idList" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </select>

</mapper>