<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexus.NexusEndOfMonthProcessingBatch.domain.primary.mapper.NexusEndOfProcessInvoiceEntrySubMapper">
    <resultMap id="NexusEndOfProcessInvoiceEntrySubResultMap" type="com.nexus.NexusEndOfMonthProcessingBatch.domain.primary.entity.NexusEndOfProcessInvoiceEntrySubEntity">
        <result column="parent_id" property="parentId"/>
        <result column="subject" property="subject"/>
        <result column="quantity" property="quantity"/>
        <result column="unit_price" property="unitPrice"/>
        <result column="taxation" property="taxation"/>
        <result column="registered_user_id" property="registeredUserId"/>
        <result column="registered_date" property="registeredDate" typeHandler="com.nexus.NexusEndOfMonthProcessingBatch.domain.type_handler.LocalDateTimeTypeHandler"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_date" property="updateDate" typeHandler="com.nexus.NexusEndOfMonthProcessingBatch.domain.type_handler.LocalDateTimeTypeHandler"/>
    </resultMap>

    <insert id="insert" parameterType="hashmap">
        INSERT INTO nexus_end_of_processing_invoice_entry_sub (

        parent_id,
        subject,
        quantity,
        unit_price,
        taxation,
        registered_user_id,
        registered_date

        ) VALUES
        <foreach collection="entities" item="entity" open="(" separator=") , (" close=")">
            ${entity.parentId},
            #{entity.subject, jdbcType=VARCHAR},
            #{entity.quantity, jdbcType=VARCHAR},
            #{entity.unitPrice, jdbcType=INTEGER},
            ${entity.taxation},
            #{entity.registeredUserId},
            now()
        </foreach>
    </insert>

    <delete id="deleteByParentId" parameterType="hashmap">
        DELETE FROM nexus_end_of_processing_invoice_entry_sub
        <where>
            parent_id = ${parentId}
        </where>
    </delete>

    <select id="findByParentId" parameterType="hashmap" resultMap="NexusEndOfProcessInvoiceEntrySubResultMap">
        SELECT * FROM nexus_end_of_processing_invoice_entry_sub
        <where>
            parent_id = ${parentId}
        </where>
    </select>

    <select id="findByParentIds" parameterType="hashmap" resultMap="NexusEndOfProcessInvoiceEntrySubResultMap">
        SELECT * FROM nexus_end_of_processing_invoice_entry_sub
        <where>
            parent_id IN
            <foreach collection="parentIds" item="parentId" open="(" separator="," close=")">
                ${parentId}
            </foreach>
        </where>
    </select>
</mapper>