<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nexus.NexusEndOfMonthProcessingBatch.domain.primary.mapper.NexusEndOfMonthProcessingScoreMapper">
    <resultMap id="NexusEndOfMonthProcessingScoreResultMap" type="com.nexus.NexusEndOfMonthProcessingBatch.domain.primary.entity.NexusEndOfMonthProcessing01Entity">
        <result column="record_id" property="recordId"/>
        <result column="transfer_due_date" property="transferDueDate" typeHandler="com.nexus.NexusEndOfMonthProcessingBatch.domain.type_handler.LocalDateTypeHandler"/>
    </resultMap>

    <delete id="deleteScoreById" parameterType="hashmap">
        DELETE FROM nexus_end_of_month_processing_01 WHERE record_id = #{id}
    </delete>

    <insert id="insert" parameterType="hashmap">
        INSERT INTO nexus_end_of_month_processing_01 ( record_id, transfer_due_date )
        VALUE ( ${recordId}, #{transferDueDate} )
    </insert>

    <select id="findByTransferDueDate" parameterType="hashmap" resultMap="NexusEndOfMonthProcessingScoreResultMap">
        SELECT *
        FROM nexus_end_of_month_processing_01
        <where>
            DATE_FORMAT(transfer_due_date, '%Y%m') = DATE_FORMAT(#{workingDate}, '%Y%m')
        </where>
        ORDER BY transfer_due_date ASC
    </select>

</mapper>